
header{
    position: relative;
    top:1px;	

}

footer{
    position: relative;
    top:1px; 
    text-align: center;
}

#companyName{
    text-align: center;
    font: oblique 25px New York, serif;
}



  
