
header{
    position: relative;
    top:1px;	

}

footer{
    position: relative;
    top:1px; 
    text-align: center;
}

#companyName{
    text-align: center;
    font: oblique 25px New York, serif;
}

a {
    font-family: Georgia;
}
a:link {
    color: red
}

a:visited {
    color: blue
}

a:hover {
    font-weight: bold;
}

a:active {
    text-decoration: none;
}

  
